
body { 
    margin: 0; 
    background-color: #f7e8f6; 
    text-align: center;
   
    
}

hr { 
    
    border-style: dotted none none none;
    border-color: #bd83ce;
    border-width: 7px;
    height: 0px;
    width: 10%; 
    padding-top: 50px;
    padding-bottom: 20px;
}

h1{ 
   margin-top: 0;
   color: #f1c6e7;
}

h2 { 
    font-family: 'Muli', sans-serif;
    color: #bd83ce; 
    /*font-family: museo-sans, sans-serif; */
    font-style: normal;
  
}

h3 { 
    font-family: 'Muli', sans-serif;
    color: #e5b0ea; 
}

p { 
    font-family: 'Cormorant Garamond', serif;
    text-align: left;
    line-height: 1.5;
    

}

.intro { 
 width: 35%; 
 margin: 0 auto;  
 line-height: 1.5;
 padding: 0 0 50px 0; 
}

.skill-row { 
    width: 35%; 
    margin: 50px auto 100px auto; 
    text-align: left;
   
    
}

.business-icon { 
    width: 30%; 
    margin-right: 30px;
    float: left;
    
}

.tim-icon { 
    width: 30%; 
    float:right; 
    margin-left: 30px;
}

.software-icon { 
    width: 30%; 
    float: left; 
    margin-right: 30px;
}

.a-programmer{ 
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: center;
    
}

.connect { 
    text-align: center;
    color: white;
}
.top-cloud { 
    position: absolute; 
    right: 300px; 
    top: 50px
    
}

.bottom-cloud { 
    position: absolute;
    left: 300px; 
    /*bottom: 300px; */
}


.top-container { 
    
    /*text-align: center; */
    background-color:  #f7e8f6; 
    position: relative; 
    padding-top: 100px;
    padding-bottom: 100px;

}

.middle-container { 
  
   /* width: 200px;
    height: 200px; */
    background-color: #f7e8f6;

}

.bottom-container { 
   /*
    width: 200px;
    height: 200px; */
    background-color: #bd83ce;
    padding: 20px 0 20px 0; 
    margin-top: 20px; 

}


#self-portrait { 
    width: 200px;
}

#myIntro { 
    font-size: 4rem;
    margin: 50px auto 0 auto;
    font-family: 'Ubuntu', sans-serif;
    color: #e5b0ea; 
    
    /*font-family: museo-sans, sans-serif; */
    font-style: normal;
    font-weight: bold;   
    
}


.testbutton {
    margin: 20px; 
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BD83CE;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: #BD83CE;
    background: linear-gradient(top,  #BD83CE,  #BD83CE);
    background: -ms-linear-gradient(top,  #BD83CE,  #BD83CE);
    background: -webkit-gradient(linear, left top, left bottom, from(#BD83CE), to(#BD83CE));
    background: -moz-linear-gradient(top,  #BD83CE,  #BD83CE);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(top,  #468CCF,  #63B8EE);
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
  }

  